<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Transaction</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div th:if="${role!='USER'}">
    <header  th:include="blocks/header :: header"></header>
</div>
<div th:unless="${role!='USER'}">
    <header th:include="blocks/header-user :: header"></header>
</div>
<div class="container text-center">
<div>
    <table class="table table-striped table-bordered">
        <thead class="thead-dark">
        <tr>
            <th>Balance</th>
            <th>Status</th>
            <th>Time</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="item: ${listTransaction}">
            <td th:text="${item.balance}">Price</td>
            <td th:text="${item.status}">Status</td>
            <td th:text="${item.sendtime}">Time</td>
            <td th:if="${role=='ADMIN'}">
                <a th:href="@{/view/{id}(id=${item.id})}">Edit</a>
                <a th:href="@{/view/remove/{id}(id=${item.id})}">Remove</a>
            </td>
            <td th:unless="${role=='ADMIN'}">
                <a th:href="@{/view/{id}(id=${item.id})}">View</a>
                <a th:href="@{/view/remove/{id}(id=${item.id})}">Cancel</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</div>
</body>
</html>