<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Transaction</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div th:if="${role!='USER'}">
    <header th:include="blocks/header :: header"></header>
</div>
<div th:unless="${role!='USER'}">
    <header th:include="blocks/header-user :: header"></header>
</div>
<div class="container text-center">
    <div th:if="${message!=''}">
        <div th:text="${message}"  class="alert alert-danger" role="alert"></div>
    </div>
<div>
    <table class="table table-striped table-bordered">
        <thead class="thead-dark">
        <tr>
            <th>Balance</th>
            <th>Status</th>
            <th>Time</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="item: ${listTransaction}">
            <td th:text="${item.balance}">Price</td>
            <td th:switch="${item.status}">
                <p th:case="1">Done</p>
                <p th:case="2">Refused</p>
                <p th:case="3">Canceled</p>
                <p th:case="*">In Process</p>
            </td>
            <td th:text="${item.sendtime}">Time</td>
            <td th:if="${role=='ADMIN'}">
                <a th:href="@{/view/{id}(id=${item.id})}" class="btn btn-outline-primary">View</a>
                <form th:if="${item.status==0}" th:action="@{/view/apply/{id}(id=${item.id})}" method="post" style="display: inline">
                    <button type="submit" class="btn btn-outline-primary">Apply</button>
                </form>
                <form th:if="${item.status==0}" th:action="@{/view/refuse/{id}(id=${item.id})}" method="post" style="display: inline">
                    <button type="submit" class="btn btn-outline-primary">Refuse</button>
                </form>
            </td>
            <td th:unless="${role=='ADMIN'}">
                <a th:href="@{/view/{id}(id=${item.id})}" class="btn btn-outline-primary">View</a>
                <form th:if="${item.status==0}" th:action="@{/view/cancel/{id}(id=${item.id})}" method="post" style="display: inline">
                    <button type="submit" class="btn btn-outline-primary">Cancel</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
    <span th:each="i: ${#numbers.sequence(1, totalPages)}">
        <a class="btn btn-outline-primary" th:if="${currentPage != i}" th:href="@{'/page/' + ${i}}">[[${i}]]</a>
        <span class="btn btn-primary" th:unless="${currentPage != i}">[[${i}]]</span>
        &nbsp;
    </span>
</div>
</div>
</body>
</html>