<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Blog</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-5">
    <h1>Login</h1>
    <form action="/login" method="post">
        <input type="text" name="email" placeholder="Email" class="form-control mt-2">
        <input type="text" name="password" placeholder="Password" class="form-control mt-2">
        <button type="submit" class="btn btn-success mt-2">Login</button>
    </form>
</div>
</body>
</html>