<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>List Users</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

</head>
<body>
<div th:if="${role!='USER'}">
    <header  th:include="blocks/header :: header"></header>
</div>
<div th:unless="${role!='USER'}">
    <header th:include="blocks/header-user :: header"></header>
</div>
<div class="container text-center">
    <div><h1>List of Users</h1></div>
    <div th:if="${message!=''}">
        <div th:text="${message}" class="alert alert-success" role="alert"></div>
    </div>
    <div th:if="${errorMessage!=''}">
        <div th:text="${errorMessage}" class="alert alert-danger" role="alert"></div>
    </div>
    <div>
        <div th:if="${role=='ADMIN'}">
            <a class="btn btn-outline-primary" href="/register">Add User</a>
        </div>
        <table class="table table-striped table-bordered">
            <thead class="thead-dark">
            <tr>
                <th>Name</th>
                <th th:text="${role=='ADMIN'} ? 'Role':'Action'">Action</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user: ${listUsers}">
                <td th:text="${user.name}+'('+${user.email}+')'">Name</td>
                <td th:if="${role=='ADMIN'}">
                    <span th:text="${user.role}"></span>
                </td>
                <td th:unless="${role=='ADMIN'}">
                    <a th:href="@{/add/{id}(id=${user.id})}">Send</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>